<%- include('../partials/header') %>
<div class="row">
    <div class="text-center">
        <div class="card mb-2" style="border-radius: 10px; width: 90%; margin: auto;">
            <h2>Terms of Use - Felhasználási Feltételek</h2>
            <br>
            <h4>A regisztrációval/bejelentkezéssel elfogadod a következőket:</h4>
            <h6>- Az IP címed mentésre kerül a host által, viszont nincs kiadva, felhasználva, és mentve a csapat által.</h6>
            <h6>- A felhasználóneved, email címed, jelszavad mentésre kerül(hashelve), amit bármikor lehet törölni a profilod beállításaiban</h6>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>